Magma.WCF.Services/Magma.WCF.Services.Loftware.Tester/Service References/LoftwareService/Assembly.Software.Loftware.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assembly.Software.Loftware" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assembly.Software.Loftware" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Loftware.Common" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfclsRowPrintStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsRowPrintStatus" nillable="true" type="tns:clsRowPrintStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsRowPrintStatus" nillable="true" type="tns:ArrayOfclsRowPrintStatus" />
  <xs:complexType name="clsRowPrintStatus">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Loftware.Common" minOccurs="0" name="PrintedJobStatus" type="q1:LLMStatusCodes" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SubmitedData" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="SubmitedXml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsRowPrintStatus" nillable="true" type="tns:clsRowPrintStatus" />
  <xs:simpleType name="clsLoftwareServer.ServerStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Invalid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="clsLoftwareServer.ServerStatusType" nillable="true" type="tns:clsLoftwareServer.ServerStatusType" />
  <xs:complexType name="ArrayOfclsPrinter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsPrinter" nillable="true" type="tns:clsPrinter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsPrinter" nillable="true" type="tns:ArrayOfclsPrinter" />
  <xs:complexType name="clsPrinter">
    <xs:sequence>
      <xs:element minOccurs="0" name="PrinterAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrinterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrinterNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PrinterPort" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPrinter" nillable="true" type="tns:clsPrinter" />
</xs:schema>