Magma.WCF.Services/Magma.WCF.Services.Loftware.Tester/Service References/LoftwareService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Assembly.Software.Loftware" />
  <xs:element name="PrintLabelHashtable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intPrinterID" type="xs:int" />
        <xs:element minOccurs="0" name="strLabelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intSerializedLabels" type="xs:int" />
        <xs:element minOccurs="0" name="intNumberOfCopies" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="htlParams" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelHashtableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Assembly.Software.Loftware" minOccurs="0" name="PrintLabelHashtableResult" nillable="true" type="q2:ArrayOfclsRowPrintStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelDatatable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intPrinterID" type="xs:int" />
        <xs:element minOccurs="0" name="strLabelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intSerializedLabels" type="xs:int" />
        <xs:element minOccurs="0" name="intNumberOfCopies" type="xs:int" />
        <xs:element minOccurs="0" name="dtlParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelDatatableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Assembly.Software.Loftware" minOccurs="0" name="PrintLabelDatatableResult" nillable="true" type="q3:ArrayOfclsRowPrintStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intPrinterID" type="xs:int" />
        <xs:element minOccurs="0" name="strLabelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intSerializedLabels" type="xs:int" />
        <xs:element minOccurs="0" name="intNumberOfCopies" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dictParams" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Assembly.Software.Loftware" minOccurs="0" name="PrintLabelDictionaryResult" nillable="true" type="q5:ArrayOfclsRowPrintStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Assembly.Software.Loftware" minOccurs="0" name="GetServerStatusResult" type="q6:clsLoftwareServer.ServerStatusType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Assembly.Software.Loftware" minOccurs="0" name="GetPrintersListResult" nillable="true" type="q7:ArrayOfclsPrinter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFolderLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLabelsListResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFolderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLabelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLabelFieldsResult" nillable="true" type="q9:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>